 html {
    scroll-behavior: smooth;
 }
 
 body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;

 }

 /* section {
    height: 800px;
 } */

 /* #region header */
 .header__top {
    display: flex;
    justify-content: space-between;

 }
 /* @media (max-width: 640px) {
    .header__top {
        display: flex;
        justify-content: space-between;


     }
 } */


 .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
   
    background-image: url(./header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

@media (max-width: 1024px) {
    .header {
        padding: 64px 72px;
        background-image: url(./header_bg-small.png);
        
    }
}

@media (max-width: 576px) {
    .header {
        padding: 32px 20px;
        background-image: url(./header_bg-phone.png);
        background-position: 0 0;
    }
}
 

 .header__title {
    margin-top: 40px;
    margin-bottom: 0;
    
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5px;
 }

 @media (max-width: 1024px) {
     .header__title {
        font-size: 40px;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -1.5px;
        font-style: italic;
     }
 }

  @media (max-width: 576px) {
      .header__title {
          font-size: 32px;
          font-weight: 800;
          line-height: 100%;
          letter-spacing: -1.5px;
          font-style: italic;
      }
  }

/* #endregion */

/* #region menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;


    background-color: #E8EFF9;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
}


@media (max-width: 1024px) {
    .menu {
        padding: 64px 72px;
      

    }
}

@media (max-width: 576px) {
    .menu {
        padding: 32px 20px;
    }
}
.menu:target {
    transform: translateX(0);
}

.menu_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

/* .space {
    margin-bottom: 32px;
} */

.menu_bottom {
    margin-top: 64px;
}

/* #endregion */


/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.nav__link {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;

}


/* #endregion */

/* #region main */
.main {
    padding: 120px;
    background-color: white;
}

@media (max-width: 1024px) {
    .main {
        padding: 120px 72px;

    }
}

@media (max-width: 576px) {
    .main {
        padding: 120px 20px;
        background-position: 0 0;
    }
}

/* #endregion main */

/* #region recommended */
.recommended__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;

}
.recommended__products {
    display: flex;
    gap: 24px;
    justify-content: center;
}

@media (max-width: 1024px) {
    .recommended__products {
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 576px) {
    .recommended__products {
        flex-direction: column;
        align-items: stretch;

    }
}


/* #endregion recomended */
/* .product {
    flex-grow: 1;
} */


/* #region product */

.product {
    flex-basis: 324px;
}
.product__photo {
    width: 100%;
    margin-bottom: 32px;

}

.product__title{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;

}

.product_category {
    margin-top: 0;
    margin-bottom: 12px;
}

.product__price {
    font-weight: bold;
    margin: 0;
}

.recommended {
    margin-bottom: 120px;
}
/* #endregion product */



/* #region categories */
.categories__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;

}

.categories {
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.category {
    margin-bottom: 64px;
}
.category__photo {
    /* display: flex; */
    gap: 3%;
    margin-bottom: 16px;
}



.category__title {
    margin: 0;
}
.photo-wide {
    width: 65%;
    height: 320px;
    object-fit: cover;
}

/* @media (max-width: 640px) {
    .photo-wide {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
} */

.photo-squar {
    width: 32%;
    height: 320px;
    object-fit: cover;
}


@media (max-width: 1024px) {
    .photo-wide {
        width: 48.5%;
        height: 187px;

    }

    .photo-squar {
        width: 48.5%;
        height: 187px;

    }
}

@media (max-width: 576px) {
    .photo-wide {
        width: 48.5%;
        height: 130px;

    }

    .photo-squar {
        width: 48.5%;
        height: 130px;
        
    }
}

/* @media (max-width: 640px) {
    .photo-squar {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
} */
/* #endregion categories */

/* #region how-to-buy */
.how-to-buy {
    display: flex;
    gap: 24px;
    max-width: 1020px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .how-to-buy {
        display: block;

    }
}


.how-to-buy__title {
    flex-basis: 50%;
    margin-top: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 64px;
}

.how-to-buy__benefits {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.how-to-buy__content {
    flex-basis: 50%;
}
/* #endregion how-to-buy */


.footer{
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 460px;
    background-image: url(./footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 24px;
}

@media (max-width: 576px) {
    .logo {
        height: 16px;

    }
}
